html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html, body, .scroll-container {
  margin: 0;
  padding: 0;
}

.scroll-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

